:root {
	--main-white: #f0f0f0;
	--main-red: #be3144;
	--main-blue: #45567d;
	--main-gray: #303841;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
	overflow-x: hidden;
}

html {
	font-size: 62.5%;
}

body {
    font-family: Arial, Sans-Serif;
}

.page-container {
	position: relative;
	width: 100vw;
}

.nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 8rem;
	background-color: var(--main-red);
	display: flex;
	justify-content: flex-end;
	padding-right: 2rem;
	z-index: 2;
}

.nav a {
    text-decoration: none;
    color: var(--main-white);
    line-height: 8rem;
    font-size: 3rem;
	padding: 0 2rem;
}

.nav a:hover {
    background-color: var(--main-blue);
}

#welcome-section {
    height: 100vh;
    width: 100%;
    background-color: var(--main-gray);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

h1 {
	font-size: 6rem;
	color: var(--main-white);
	margin-bottom: 1rem;
}

h2 {
	font-size: 4rem !important;
	color: var(--main-white);
	margin-bottom: 1rem !important;
}

#welcome-section p {
	font-size: 3rem;
	font-style: italic;
	color: var(--main-red);
}

#project-section {
    min-height: 100vh;
    width: 100%;
    background-color: var(--main-blue);
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	padding-bottom: 3rem;
}

#project-section h2 {
	margin-top: 8rem;
	padding-bottom: 1rem;
	min-width: 50vw;
	text-align: center;
	border-bottom: 0.25rem solid var(--main-white);
}

.proj-grid {
	width: 90%;
	max-width: 63rem;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-auto-rows: auto;
	gap: 3rem;
	padding: 3rem;
}

.project-tile  {
	height: 30rem;
	width: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--main-gray);
	text-decoration: none;
	color: var(--main-white);
	font-size: 2rem;
}

.project-tile:hover {
	border-radius: 2rem;
	transform: scale(1.05);
	transition: 0.2s;
}

#contact {
    height: 100vh;
    width: 100%;
    background-color: var(--main-gray);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: var(--main-white);
	font-size: 3rem;
}

.prof-flex {
	margin-top: 3rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 1rem;
}

.prof-flex a {
	text-decoration: none;
	color: var(--main-white);
	padding: 1rem 0;
}

.prof-flex a:hover {
	transform: translate(0, 0.5rem);
	transition: 0.3s;
}

@media only screen and (min-width:1200px) {
	.proj-grid {
		width: 90%;
		max-width: 126rem;
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-auto-rows: auto;
		gap: 3rem;
		padding: 3rem;
	}
	.prof-flex {
		margin-top: 3rem;
		display: flex;
		flex-direction: row;
		width: 50%;
		max-width: 50rem;
		justify-content: space-between;
		align-items: center;
		padding: 1rem;
	}
}

footer {
	height: 10rem;
	width: 100%;
	background-color: var(--main-gray);
	border-top: 1rem solid var(--main-red);
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding-right: 2rem;
}

footer p {
	font-size: 2rem;
	color: var(--main-white);
	padding-right: 2rem;
}