body {
    padding:50px 10px;
    margin:0 auto;
    width:90vw;
    min-height:calc(100vh - 100px);
    text-align:center;
    font-family:Arial, sans-serif;
}

hr {
    margin:30px auto;
    width:80%;
    background-color:black;
    height:2px;
}

ul {
    text-align:left;
}

section {
    padding:50px 5px;
    vertical-align:top;
    display:inline-block;
    min-height:100px;
    width:40%;
}