body {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: skyblue;
}

.form-container {
    margin: 20px auto;
    background-color: ghostwhite;
    border-radius: 10px;
    max-width: 300px;
    width: 100%;
    padding: 20px;
}

label, input, textarea {
    display: block;
}

label {
    margin: 10px;
    color: #666;
}

input, textarea {
    height: 1rem;
    border: 1px solid lightgrey;
    border-radius: 5px;
    margin: 10px auto;
    padding: 10px;
    width: 90%;
}

textarea {
    resize: vertical;
    height: 2rem;
}

button {
    margin-top: 10px;
    height: auto;
    width: auto;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: rgb(0, 210, 0);
    color: white;
    font-size: 1rem;
}

button:hover {
    cursor: pointer;
    background-color: rgb(0, 180, 0)
}