body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
    color: #0A1639;
}

#navbar {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 290px;
    width: 30%;
    height: 100%;
    border-right: solid;
}

header {
    margin: 10px;
    text-align: center;
    font-size: 1.8em;
}

#navbar ul {
    height: 88%;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
}

#navbar li {
    border-top: 1px solid;
    list-style: none;
    position: relative;
    width: 100%;
}

#navbar a {
    display: block;
    padding: 10px 30px;
    color: #0A1639;
    text-decoration: none;
    cursor: pointer;
}

code {
    text-align: left;
    position: relative;
    line-height: 2;
    background-color: #8BF0FE;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
}

code.block {
    display: block;
    text-align: left;
    position: relative;
    line-height: 2;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
}

#main-doc {
    position: absolute;
    margin-left: max(30%, 300px);
    padding: 20px;
    margin-bottom: 110px;
}

#main-doc header {
    text-align: left;
    margin: 0;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #0A1639;
        color: #3BB8DB;
    }

    code {
        background-color: #0F172B;
        color: #3BB8DB;
    }

    #navbar a {
        color: #3BB8DB;
    }
}