body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.newspaper-layout {
    max-width: 1200px;
    padding: 1rem;
    display: grid;
    grid-template-areas: "title title title" "feature-article feature-article cover-image" "secondary-article secondary-article cover-image" "small-article1 small-article2 small-article3";
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto 1fr 1fr 1fr;
    gap: 1rem;
    box-sizing: border-box;
    text-align: justify;
}

.title {
    text-align: center;
    background-color: #312C85;
    padding: 1rem;
    grid-area: title;
}

.title h1 {
    font-size: 3rem;
    color: white;
}

.feature-article {
    background-color: lightgrey;
    padding: 1rem;
    grid-area: feature-article;
}

.secondary-article {
    background-color: lightgrey;
    padding: 1rem;
    grid-area: secondary-article;
}

.cover-image {
    background-color: lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    grid-area: cover-image;
}

.cover-image img {
    max-width: 100%;
    border-radius: 5px;
}

.small-article1 {
    background-color: lightgrey;
    padding: 1rem;
    grid-area: small-article1;
    font-size: 0.85rem;
    letter-spacing: 0.018rem;
}

.small-article2 {
    background-color: lightgrey;
    padding: 1rem;
    grid-area: small-article2;
}

.small-article3 {
    background-color: lightgrey;
    padding: 1rem;
    grid-area: small-article3;
}