/*Base styling*/

:root {
    font-size: 16px;
    font-family: Arial, sans-serif;
    --color0: #FFF;
    --color1: #BFF7DD;
    --color2: #6EEDB2;
    --color3: #1CE386;
    --color4: #129156;
    --color5: #0D683E;
    --solid-border: 0.1rem solid black;
    --dashed-border: 0.09rem dashed black;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #E8FCF3;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

/*Table styling*/

table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 32rem;
}

tr {
    height: 1.1rem;
}

tr :first-child {
    width: 4rem;
}

th {
    border-bottom: var(--solid-border);
}

.sharp td {
    border-bottom: var(--solid-border);
}

.half td {
    border-bottom: var(--dashed-border);
}

td {
    border-left: var(--solid-border);
    border-right: var(--solid-border);
}

tbody :last-child td {
    border: 0;
}

.time {
    text-align: right;
    border: 0;
    padding: 0.4rem;
}

.available-0 {
    background-color: var(--color0);
}

.available-1 {
    background-color: var(--color1);
}

.available-2 {
    background-color: var(--color2);
}

.available-3 {
    background-color: var(--color3);
}

.available-4 {
    background-color: var(--color4);
}

.available-5 {
    background-color: var(--color5);
}

/*Legend styling*/

#legend {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 18rem;
    height: 3.5rem;
    text-align: center;
}

#legend span {
    display: inline-block;
    width: 5rem;
    height: 2rem;
}

#legend-line {
    width: 60%;
    height: 100%;
    display: flex;
}

#legend-gradient {
    width: 100%;
    height: 60%;
    border: var(--solid-border);
    background-image: linear-gradient(
        90deg,
        var(--color0) 0% 17%,
        var(--color1) 17% 34%,
        var(--color2) 34% 50%,
        var(--color3) 50% 67%,
        var(--color4) 67% 83%,
        var(--color5) 83% 100%
    );
}