* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  position: relative;
}

h1 {
  margin-top: 6rem;
  text-align: center;
}

.gallery {
  margin-top: 2rem;
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.gallery-item {
  object-fit: cover;
  width: 30%;
  height: 30vh;
  transition: transform 0.2s;
}

.gallery-item:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.lightbox {
  position: fixed;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.8);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.close-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2em;
  color: white;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

#lightbox-image {
  max-height: 90%;
  max-width: 90%;
}