* {
    box-sizing: border-box;
}

#sky {
    position: absolute;
    width: 100%;
    height: 50%;
    background-color: skyblue;
    top: 0;
    left: 0;
    z-index: -3;
}

#sun {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: yellow;
    border-radius: 50%;
    z-index: -2;
    top: 10%;
    left: 30%;
}

#grass {
    position: absolute;
    width: 100%;
    height: 50%;
    background-color: green;
    top: 50%;
    left: 0;
    z-index: -2;
}

#house {
    position: relative;
    width: 500px;
    height: 400px;
    background-color: lightsalmon;
    border: 8px solid lightcoral;
    top: 200px;
    margin: auto;
}

#house > div {
    position: absolute;
}

#chimney {
    width: 80px;
    height: 120px;
    background-color: lightgrey;
    border: 2px solid black;
    top: -120px;
    left: 360px;
    z-index: -1;
}

#roof {
    width: 484px;
    height: 100px;
    background-color: lightcoral;
    border: 1px solid lightcoral;
    top: 0;
}

#window-1 {
    width: 100px;
    height: 100px;
    border: 8px solid lightcoral;
    background-color: yellow;
    top: 140px;
    left: 50px;
}

#window-1-divider {
    position: absolute;
    width: 8px;
    height: 100%;
    background-color: lightcoral;
    left: 38px;
}

#window-2 {
    width: 100px;
    height: 100px;
    border: 8px solid lightcoral;
    background-color: yellow;
    top: 140px;
    left: 332px;
}

#window-2-divider {
    position: absolute;
    width: 8px;
    height: 100%;
    background-color: lightcoral;
    left: 38px;
}

#door {
    width: 120px;
    height: 160px;
    background-color: silver;
    bottom: 0;
    left: 182px;
    border: 4px solid lightcoral;
}

#door-knob {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: lightcoral;
    border-radius: 50%;
    top: 70px;
    left: 85px;
}