body {
    background-color: #f4f4f4;
    text-align: center;
    font-family: Arial, sans-serif;
}

.color-grid {
    padding: 10px 0;
}

.color-box {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 10px;
    border-radius: 10px;
}

.color1 {
    background-color: #ff0000;
}

.color2 {
    background-color: rgb(0, 127, 0);
}

.color3 {
    background-color: gold;
}

.color4 {
    background-color: hsl(176, 80%, 50%);
}

.color5 {
    background-color: purple;
}