body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
}

.container {
    background-color:ghostwhite;
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 8px 8px 4px lightgrey;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input:first-of-type {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

input:focus, textarea:focus {
    border-color: blue;
    outline: none;
}

input:invalid, select:invalid, textarea:invalid {
    border-color: red;
}

input:valid, select:valid, textarea:valid {
    border-color: green;
}

.radio-group {
    display: flex;
    align-items: center;
    margin: 15px 0;
}

input[type="radio"]:checked + label {
    color: green;
}
.radio-group label {
    margin: 0;
    font-weight: normal;
    cursor: pointer;
}

.radio-group input[type="radio"] {
    margin-right: 10px;
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #ccc;
    border-radius: 50%;
    outline: none;
    transition: border-color 0.2s;
}

.radio-group input[type="radio"]:checked {
    border-color: green;
    background-color: green;
    box-shadow: inset 0 0 0 4px white;
}

button {
    width: 100%;
    padding: 10px;
    background-color: green;
    border: none;
    color: white;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: black;
}