body {
    font-family: Arial, sans-serif;
}

#email {
    background-color: seashell;
    padding: 50px;
    margin: 50px auto;
    width: 500px;
    border: 2px solid black;
    box-shadow: 5px 3px 3px grey;
    box-sizing: border-box;
}

#confidential, #top-secret {
    display: inline-block;
    padding: 10px;
    border: 5px solid red;
    text-align: center;
    color: red;
    font-weight: bold;
}

#confidential {
    font-size: 30px;
    margin-left: 100px;
    transform: rotate(-20deg);
}

#top-secret {
    font-size: 20px;
    margin-left: 200px;
    transform: rotate(15deg);
}

.blurred {
    filter: blur(3px);
}