* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #201D58;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

h1 {
  margin: 3rem 0;
}

.container {
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 10px 10px #142E90;
}

#input-container {
  margin-top: 1rem;
  display: flex;
}

#text-input {
  border:0;
  border-bottom: 3px solid #142E90;
  margin: 0 0.5rem;
  text-align: center;
}

#check-btn {
  border: 0;
  padding: 0.5rem 1rem;
  margin: 0 0.5rem;
  border-radius: 10px;
  background-color: #142E90;
  color: white;
  cursor: pointer;
}

#result {
  margin-top: 1rem;
}